body{
    background-color: #f8fafc;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

menu{
    margin:0px;
}

header{
   background-color: #cbd5e1;
}

.logo {
    color: green;
    font-size: 24px;
    text-decoration: none;
    vertical-align: center;
    margin: 10px;
}

a{
    text-decoration: none;
}
.cal-btn {
    background-color: #a3e635;
    border: solid #73b70d 2px;
}

.todo-btn {
    background-color: #38bdf8;
    border: solid #0591d2 2px;
}

.notes-btn {
    background-color: #c084fc;
    border: solid #a855f7 2px;
}

.btn{
    padding: 4px;
    font-size: 14px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 1.5px 1.5px 5px grey;
}

.btn-lnk{
    color: #fafaf9;
    font-size: 16px;
}

menu{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.calendar{
    display: flex;
    justify-content: center;
}

.cal-hold{
    border: solid #73b70d 2px;
    width: 90%;
    max-width: 1080px;
    border-radius: 5px;
}
.week {
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
    column-gap: 0.333%;
    padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 5px;
    
}
.weekday{
    text-align: center;
    padding-top: 2.5px;
    padding-bottom: 2px;
}
.day{
    padding: 1px;
    background-color: white;
    height: 100px;
    border: solid #91d328 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.cont{
    padding-left: 20px;
    padding-right: 20px;
}

.desc{
    margin-top: 15px;
    text-align: center;
}

.month{
    grid-column-start: 1;
    grid-column-end: 8;
    border-bottom: solid #73b70d 2px;
    text-align: center;
    font-size: 48px;
    color:#e2e8f0;
    padding-bottom: 7.5px;
    background-color: #a3e635;
}

.row-start{
    margin-left: 5px;
}

.row-end{
    margin-right: 5px;
}

.event{
    border-radius: 2.5px;
    padding: 0.5px;
    text-align: center;
    margin: 0.5px;
    width: 100%;
}

.event.b{
    background-color: #38bdf8;
}
.event.g{
    background-color: #a3e635;
}
.event.p{
    background-color: #c084fc;
}
.event.y{
    background-color: #fde047;
}
.event.o{
    background-color: #fb923c;
}
.event.r{
    background-color: #ef4444;
}

.hold{
    display: flex;
    flex-direction: row;
}
.cal-control{
    text-align: center;
}

.w-word{
    color:white;
}